.product-card {
  box-sizing: border-box;
  margin-bottom: 100px;
  width: calc((100% - 80px) / 3);
  margin-left: 20px;
  margin-right: 20px;
  padding: 1rem;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.product-card::after {
  content: '';
  position: absolute;
  z-index: -1;
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px #e0e0e0;
  transition: opacity 0.4s ease-in-out;
}

.not-available {
  opacity: 0.6;
}

.not-available:hover {
  opacity: 0.7;
}

.not-available > div:last-of-type {
  position: absolute;
  width: 100%;
  text-transform: uppercase;
  top: 40%;
  text-align: center;
  z-index: 2;
  font-size: 1.5rem;
  font-family: Raleway;
  font-weight: 400;
  color: #8d8f9a;
  transition: color 0.4s;
}

.not-available:hover > div:last-of-type {
  color: black;
}

.product-card:hover::after {
  opacity: 1;
}

.product-card:nth-child(3n + 1) {
  margin-left: 0;
}
.product-card:nth-child(3n) {
  margin-right: 0;
}

.product-card > span {
  display: block;
  font-family: Raleway;
  font-size: 1.125rem;
}

.product-card > span:first-of-type {
  margin-top: 1.5rem;
  font-weight: 300;
  width: 20vw;
}

.product-card > span:last-of-type {
  font-weight: 500;
}

.product-card > svg {
  position: absolute;
  right: 1vw;
  bottom: 7vh;
  transition: all 0.4s;
}

path,
circle {
  cursor: pointer;
}

.image-card {
  overflow: hidden;
  position: relative;
  min-height: 300px;
}

.image-card img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
